<div class="container">
  <div class="row justify-content-center">

    <div class ="card about-card col-11 col-lg-4">

      <h1>Hi, my name is Kirstin!</h1>
      <h5>A freelance full-stack web developer from Montreal</h5>

        <div class="details-flex">
          <div class="about-header">
            <p>Le Wagon, Montreal</p>
          </div>
          <div class="label">
            <p>Certification</p>
          </div>
        </div>
        <p>April 2023 - June 2023</p>
          <p>Full-stack web development 9-week intensive bootcamp</p>

        <div class="details-flex">
          <div class="about-header">
            <p>Concordia University</p>
          </div>
          <div class="label">
            <p>Bachelor's degree</p>
          </div>
        </div>
        <p>2014 - 2018</p>
        <p>History (major), Canadian-Irish Studies (minor)</p>

      <br>
      <br>
      <p>ADD LANGUAGES HERE</p>
      <p>GITHUB AND LINKEDIN LINKS</p>

    </div>

    <div class ="card about-card col-11 col-lg-7">

      <p>
        I've spent the last 5+ years working in Customer Success in the tech startup environment.

        <br>
        <br>

        Driven by the ambition to pursue a new career path, I enrolled in
        <strong>Le Wagon's web development bootcamp</strong> in April 2023.

        <br>
        <br>

        The experience, though challenging, has been incredibly rewarding, and one of the best
        decisions I've made in my life. Since completing the bootcamp after a intensive 9 weeks,
        the work and learning has only just begun. I'm driven by a passion for continuous learning,
        constantly seeking to expand my knowledge and grasp the inner workings of the web.

        <br>
        <br>

        With all of my experience in Customer Success, my work is shaped by a deep understanding of client needs and perspective.

      </p>

    </div>

  </div>
</div>
