<div class="container">
  <div class="row justify-content-center">

    <div class="card about-card col-11 col-lg-4">

    <div class="about-details">
      <h1>Hi, my name is Kirstin!</h1>
      <p>A full-stack web developer from Montreal.</p>
      <p>Currently seeking freelancing opportunities - let's talk!</p>

      <div class="d-flex justify-content-center mb-2">
        <%= link_to "LinkedIn", "https://www.linkedin.com/in/kirstin-penzes/", class:"btn" %>
        <%= link_to "GitHub", "https://github.com/KPenzes", class:"btn" %>
      </div>
    </div>

        <div class="details-flex">
          <div class="about-header">
            <p>Le Wagon, Montreal</p>
          </div>
          <div class="label">
            <p>Certification</p>
          </div>
        </div>
        <p>April 2023 - June 2023</p>
          <p>Full-stack web development 9-week intensive bootcamp</p>

        <div class="details-flex">
          <div class="about-header">
            <p>Concordia University</p>
          </div>
          <div class="label">
            <p>Bachelor's degree</p>
          </div>
        </div>
        <p>2014 - 2018</p>
        <p>History (major), Canadian-Irish Studies (minor)</p>

        <div class="about-section">
          <div class="about-header">
            <p>Languages & Skills</p>
          </div>
          <ul>
            <li>Ruby / Ruby on Rails</li>
            <li>HTML / CSS / SCSS</li>
            <li>Javascript ES6 / Stimulus</li>
            <li>Webpack JS</li>
            <li>Bootstrap</li>
            <li>Postgresql</li>
            <li>Git</li>
          </ul>

        </div>

    </div>

    <div class="col-11 col-lg-6">
      <div class ="card about-card">
        <p>
          I've spent the last 5+ years working in Customer Success in the tech startup environment.
          <br>
          <br>
          Driven by the ambition to pursue a new career path, I enrolled in
          <strong>Le Wagon's web development bootcamp</strong> in April 2023.
          The experience, though challenging, has been incredibly rewarding, and one of the best
          decisions I've made in my life.
          <br>
          <br>
          Since completing the bootcamp after a intensive 9 weeks, the work and learning
          has only just begun. I'm driven by a passion for continuous learning,
          constantly seeking to expand my knowledge and grasp the inner workings of the web.
          Through online courses, <strong>I'm currently learning React.js and about Web Accessibility.</strong>
          <br>
          <br>
          With extensive experience in Customer Success, my work is shaped by a deep understanding of client needs and perspective.
          I'm inspired by projects that are problem-solving, creative and challenging.
        </p>
      </div>

      <div class ="card about-card contact">
        <p>
          <strong>Are you looking to get your project off the ground? Let's talk!</strong>
          <br>
          <br>
          You can contact me via <strong><a href="https://www.linkedin.com/in/kirstin-penzes/" target="_blank" style="color:#87CABA" >LinkedIn</a></strong>.
        </p>
      </div>
    </div>

  </div>
</div>
