<div class="container">
  <div class="row justify-content-center">

    <div class="card about-card col-11 col-lg-4">

        <div class="details-flex">
          <div class="about-header">
            <p>Le Wagon, Montreal</p>
          </div>
          <div class="label">
            <p>Certification</p>
          </div>
        </div>
        <p>April 2023 - June 2023</p>
          <p>Full-stack web development 9-week intensive bootcamp</p>

        <div class="details-flex">
          <div class="about-header">
            <p>Concordia University</p>
          </div>
          <div class="label">
            <p>Bachelor's degree</p>
          </div>
        </div>
        <p>2014 - 2018</p>
        <p>History (major), Canadian-Irish Studies (minor)</p>

        <div class="about-section">
          <div class="about-header">
            <p>Languages & Skills</p>
          </div>
          <ul>
            <li>Ruby / Ruby on Rails</li>
            <li>HTML / CSS / SCSS</li>
            <li>Javascript ES6 / Stimulus</li>
            <li>React.js</li>
            <li>Next.js </li>
            <li>Webpack JS</li>
            <li>Bootstrap</li>
            <li>Postgresql</li>
            <li>Git</li>
          </ul>

        </div>

    </div>

    <div class="col-11 col-lg-6">

      <div class ="card about-card">

    <div class="about-details">
      <h1>Hi, my name is Kirstin!</h1>
      <p>A web developer from Montreal.</p>
      <p>Currently seeking freelancing opportunities - let's talk!</p>

      <div class="d-flex justify-content-center mb-2">
        <%= link_to "LinkedIn", "https://www.linkedin.com/in/kirstin-penzes/", class:"btn" %>
        <%= link_to "GitHub", "https://github.com/KPenzes", class:"btn" %>
      </div>
    </div>
        <p>
          Having experience in Customer Success for a decade, my work is
          shaped by a deep understanding of client needs and perspective.
          <br>
          <br>
          I believe that the foundation of Customer Success lies with the
        product, website or application itself. By expanding my skills to
        include web development, I've deepened my understanding of the
        customer experience.
          <br>
          <br>
          I'm pursuing a career that's driven by my passion for continuous learning and strengthens my skills and expertise.
        </p>
      </div>

      <div class ="card about-card contact">
        <p>
          <strong>Are you looking to get your project off the ground? Let's talk!</strong>
          <br>
          <br>
          You can contact me via <strong><a href="https://www.linkedin.com/in/kirstin-penzes/" target="_blank" style="color:#87CABA" >LinkedIn</a></strong>.
        </p>
      </div>
      <div class ="card about-card">
        <%= link_to "All projects", projects_path, class:"btn" %>
      </div>
    </div>

  </div>
</div>
