<%= render "layouts/home_banner" %>


<div class="home-container">

<h3>What I'm currently working on: </h3>
  <%= link_to project_path(@project) do %>
    <h5><%= @project.name %></h5>
  <% end %>

<h3>What I'm currently learning: </h3>
  <ul>
    <li>Web accessibility</li>
    <li>React.js</li>
  </ul>

</div>
