<div class="container">
  <h1>Projects index</h1>

  <div class="row justify-content-center">
    <% @projects.each do |project| %>
        <div class="card col-11 col-lg-5">
          <%= link_to project_path(project) do %>
            <h5><%= project.name %></h5>
          <% end %>
        </div>
    <% end %>
  </div>

</div>
