.about-card {
  padding: 18px;

  h5 {
    font-size: 18px;
  }

  p {
    margin-bottom: 0;
  }
}

.about-details {
  border-bottom: 3px solid $yellow;
  margin-bottom: 5px;
  text-align: center;

  h1 {
    font-size: 27px;
  }

  .btn {
    width: 28%;
    margin: 5px;
  }
}

.about-header {
  margin-top: 10px;

  p {
    font-size: 23px;
    margin-top: 0px;
  }
}
