.about-card {
  padding: 18px;

  h1 {
    font-size: 30px;
  }

  h5 {
    font-size: 18px;
  }

  p {
    margin-bottom: 0;
  }
}

.about-header {
  margin-top: 10px;

  p {
    font-size: 23px;
    margin-top: 0px;
  }

}
