.footer {
  background: $white;
  height: 70px;
  width: 100%;
  // position: sticky;
  padding: 12px 10px 0px;
  color: $navy;
  margin-top: auto;
  border-top: 3px solid $yellow;
  // bottom: 0;
  display: flex;
  justify-content: space-between;

  p {
    font-size: 14px;
    text-align: end;
  }
}
// .footer-links {
  // display: flex;
  // align-items: center;
// }
.footer-links a {
  color: $navy;
  text-decoration: none;
  font-size: 20px;
  padding: 0px 2px;
}
.footer-links a:hover {
  opacity: .9;
  color: $teal;
}
