
.navbar {
  justify-content: space-between;
  background: $white;
  font-family: $body-font;
  font-size: 20px;
  padding: 3px 15px;
  border-bottom: 3px solid $yellow;
  display: flex;
  justify-content: space-between;

  .name {
    font-family: $headers-font;
    font-size: 40px;
    text-decoration: none;
    color: $navy;

    &:hover {
      color: $teal;
    }
  }

  // .nav-item {
  //   color: $navy;
  //   padding-left: 12px;
  // }

  .nav-link {
    color: $navy;
    padding-left: 12px;

    &:hover {
      color: $teal;
    }
  }
}

.navbar .navbar-collapse {
  flex-grow: 0;
}
