
.navbar {
  justify-content: space-between;
  background: $white;
  font-family: $body-font;
  font-size: 20px;
  border-bottom: solid $yellow 3px;
  padding: 3px;


  .name {
    font-family: $headers-font;
    font-size: 40px;
    text-decoration: none;
    color: $navy;

    &:hover {
      color: $yellow;
    }
  }

  .nav-link {
    color: $pink;

    &:hover {
      color: $yellow;
    }
  }
}

.navbar .navbar-collapse {
  flex-grow: 0;
}
