
.navbar {
  justify-content: space-between;
  background: $white;
  font-family: $body-font;
  font-size: 20px;
  padding: 3px 15px;


  .name {
    font-family: $headers-font;
    font-size: 40px;
    text-decoration: none;
    color: $navy;

    &:hover {
      color: $teal;
    }
  }

  .nav-item {
    color: $navy;
    padding-left: 12px;
  }

  .nav-link {
    &:hover {
      color: $teal;
    }
  }
}

.navbar .navbar-collapse {
  flex-grow: 0;
}
