.photo-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-top: 16px;
}

@media(max-width: 768px) {
  .photo-grid {
    grid-template-columns: 1fr;
  }
}

.screenshot {
  // margin: 10px;
  width: 100%;

}
