.card-height {
  height: 100%;
}

.project-details {
  border-bottom: 3px solid $yellow;
  margin-bottom: 15px;
}
.details-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
