.project-card {
  padding: 16px;

  .btn {
    width: 40%;
    margin: 5px;
  }
}

.project-details {
  border-bottom: 3px solid $yellow;
  margin-bottom: 15px;
}
.details-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
