.project-card {
  padding: 16px;
}

.project-details {
  border-bottom: 4px dotted $yellow;
  margin-bottom: 15px;

}
.details-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
