<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/KPenzes"><i class="fab fa-github"></i>Github</a>
    <a href="https://www.linkedin.com/in/kirstin-penzes/"><i class="fab fa-linkedin"></i>LinkedIn</a>
  </div>
  <div class="footer-copyright">
    This website was made by me, Kirstin.
  </div>
</div>
