<div class="footer col-12">
  <div class="footer-links">
    <a href="https://github.com/KPenzes"><i class="fa-brands fa-github" title="Github"></i></a>
    <a href="https://www.linkedin.com/in/kirstin-penzes/"><i class="fab fa-linkedin" title="LinkedIn"></i></a>
    This project was made by me, Kirstin.
  </div>
  <div class="footer-copyright">
    <strong>Are you looking to get your project off the ground? Let's talk!</strong>
    <br>
    You can contact me via <strong><a href="https://www.linkedin.com/in/kirstin-penzes/" target="_blank" style="color:#87CABA" >LinkedIn</a></strong>.
  </div>
</div>
