<div class="home-banner" style="background-image: url('https://i.ibb.co/KhznPWc/yellow-cubes-2.png')">
  <h1>Hi, I'm Kirstin!</h1>
  <h5>A web developer from Montreal.</h5>
  <%= link_to "Contact me", about_path, class:"btn home-banner-btn" %>
</div>
